sdk.dir=VALUE

# The Movie DataBase
TMDB_READ_ACCESS_TOKEN=VALUE
TMDB_API_KEY=VALUE

# FireBase
FB_PROJECT_NAME=VALUE
FB_PROJECT_ID=VALUE
FB_PROJECT_NUMBER=VALUE
FB_APP_ID=VALUE
FB_PACKAGE_NAME=VALUEVALUE
FB_ROUTE_INSTANCE_URL=VALUE